@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto-Bold.ttf);
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: var(--background-color);
  font-family: roboto, Helvetica, sans-serif;
}

:root{
  --background-color: rgb(171, 171, 255);
  --title-color: rgb(0, 0, 122);
  --point-color: rgb(52, 133, 255);
  --point-hover-color: rgb(139, 185, 253);
  --point-mouse-down-color: rgb(0, 65, 162);
  --miss-color: rgb(0, 43, 107);
  --ship-color: rgb(94, 94, 94);
  --hit-color: rgb(255, 0, 0);

  --replay-color: rgb(0, 190, 0);
  --replay-hover-color:  rgb(0, 216, 0);
  --replay-mouse-down-color: rgb(0, 96, 0);
  --replace-color: rgb(86, 86, 86);
  --replace-hover-color: rgb(100, 100, 100);
  --replace-mouse-down-color: rgb(70, 70, 70);
}

h1{
  font-size: 5em;
  margin: 0.25em;
  display: flex;
  justify-content: center;
  color: var(--title-color);
}

#content{
  display: flex;
  justify-content: center;
}

#gridContainer{
  display: flex;
  justify-content: center;
  gap: 10rem;
}

#playerGrid,
#computerGrid{
  display: grid;
  width: 25rem;
  height: 25rem;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: 0.2rem;
  background-color: black;
  outline: 0.4rem solid black;
}

.point{
  background-color: var(--point-color);
}

#computerGrid .point:hover{
  background-color: var(--point-hover-color);
}

#computerGrid .point:active{
  background-color: var(--point-mouse-down-color);
}

.ship{
  background-color: var(--ship-color);
}

.hit{
  background-color: var(--hit-color);
}

.miss{
  background-color: var(--miss-color);
  font-size: 1.8rem;
  user-select: none;
  display: flex;
  justify-content: center;
  align-content: center;
}

#winElements{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#winText{
  font-size: 5em;
}

#replayButton, 
#replaceButton{
  font-size: 2em;
  border: none;
  border-radius: 0.25em;
  margin: 0.25em;
}

#replayButton{
  background-color: var(--replay-color);
  padding: 0.25em;
}

#replayButton:hover{
  background-color: var(--replay-hover-color);
  padding: 0.3em;
}

#replayButton:active{
  background-color: var(--replay-mouse-down-color);
  padding: 0.2em;
}

#replaceButton{
  background-color: var(--replace-color);
  padding: 0.15em;
}

#replaceButton:hover{
  background-color: var(--replace-hover-color);
  padding: 0.2em;
}

#replaceButton:active{
  background-color: var(--replace-mouse-down-color);
  padding: 0.10em;
}

#instructionsTitle{
  font-size: 2em;
}